In [1]:
import pandas as pd

In [5]:
s1 = pd.Series([10, 20, 30, 40, 50, 60, 70])

In [6]:
s1

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [7]:
type(s)

pandas.core.series.Series

In [10]:
s2 = pd.Series([10, 20, 30, 40, 50, 60, 70], index = ["shubham", "harry", "shivam", "ayush", "uttam", "shiv", "shub"])

In [11]:
s2

shubham    10
harry      20
shivam     30
ayush      40
uttam      50
shiv       60
shub       70
dtype: int64

In [15]:
s2["harry"]

TypeError: string indices must be integers, not 'str'

In [18]:
data = {
    "name" : ["shubham", "shivam", "hello"],
    "age" : [21, 25, 30],
    "city" : ["gkp", "pune", "north"]
}

In [21]:
df = pd.DataFrame(data)

In [22]:
df

      name  age   city
0  shubham   21    gkp
1   shivam   25   pune
2    hello   30  north

In [23]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [24]:
df.columns

Index(['name', 'age', 'city'], dtype='object')