In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/shivamyadav/Downloads/actors.csv")

In [4]:
df

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
1,Salman Khan,2500,6.9,2015-2025,Tiger 3
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy
6,Hrithik Roshan,1700,7.5,2015-2025,War
7,Ajay Devgn,1900,6.9,2015-2025,Tanhaji
8,Varun Dhawan,1200,6.5,2015-2025,Bhediya
9,Tiger Shroff,1100,6.3,2015-2025,Baaghi 2

In [9]:
df.sort_values("Average IMDb Rating")

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
9,Tiger Shroff,1100,6.3,2015-2025,Baaghi 2
8,Varun Dhawan,1200,6.5,2015-2025,Bhediya
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi
1,Salman Khan,2500,6.9,2015-2025,Tiger 3
7,Ajay Devgn,1900,6.9,2015-2025,Tanhaji
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy
6,Hrithik Roshan,1700,7.5,2015-2025,War
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha

In [10]:
df.sort_values("Average IMDb Rating", ascending = False)

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
6,Hrithik Roshan,1700,7.5,2015-2025,War
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal
1,Salman Khan,2500,6.9,2015-2025,Tiger 3
7,Ajay Devgn,1900,6.9,2015-2025,Tanhaji
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi
8,Varun Dhawan,1200,6.5,2015-2025,Bhediya
9,Tiger Shroff,1100,6.3,2015-2025,Baaghi 2

In [12]:
df.reset_index(drop = True, inplace = True)

In [13]:
df

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
1,Salman Khan,2500,6.9,2015-2025,Tiger 3
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy
6,Hrithik Roshan,1700,7.5,2015-2025,War
7,Ajay Devgn,1900,6.9,2015-2025,Tanhaji
8,Varun Dhawan,1200,6.5,2015-2025,Bhediya
9,Tiger Shroff,1100,6.3,2015-2025,Baaghi 2

In [23]:
# Corrected code - removed the extra period
df["Rank"] = df["Average IMDb Rating"].rank(ascending = False)

In [24]:
df

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie,Rank
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan,2.0
1,Salman Khan,2500,6.9,2015-2025,Tiger 3,6.5
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha,1.0
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi,8.0
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal,5.0
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy,4.0
6,Hrithik Roshan,1700,7.5,2015-2025,War,3.0
7,Ajay Devgn,1900,6.9,2015-2025,Tanhaji,6.5
8,Varun Dhawan,1200,6.5,2015-2025,Bhediya,9.0
9,Tiger Shroff,1100,6.3,2015-2025,Baaghi 2,10.0

In [27]:
df = df[["Actor", "Notable Movie", "Rank", "Total Box Office (INR Cr)", "Average IMDb Rating", "Years Considered"]]

In [28]:
df

,Actor,Notable Movie,Rank,Total Box Office (INR Cr),Average IMDb Rating,Years Considered
0,Shah Rukh Khan,Jawan,2.0,2200,7.8,2015-2025
1,Salman Khan,Tiger 3,6.5,2500,6.9,2015-2025
2,Aamir Khan,Laal Singh Chaddha,1.0,1800,8.1,2015-2025
3,Akshay Kumar,Sooryavanshi,8.0,2100,6.8,2015-2025
4,Ranbir Kapoor,Animal,5.0,1500,7.3,2015-2025
5,Ranveer Singh,Gully Boy,4.0,1600,7.4,2015-2025
6,Hrithik Roshan,War,3.0,1700,7.5,2015-2025
7,Ajay Devgn,Tanhaji,6.5,1900,6.9,2015-2025
8,Varun Dhawan,Bhediya,9.0,1200,6.5,2015-2025
9,Tiger Shroff,Baaghi 2,10.0,1100,6.3,2015-2025