In [1]:
import pandas as pd

In [2]:
data = [['harry', 34], ['shubham', 40], ['hello', 45]]

In [3]:
data

[['harry', 34], ['shubham', 40], ['hello', 45]]

In [4]:
df = pd.DataFrame(data, columns=['name', 'marks'])

In [5]:
df

      name  marks
0    harry     34
1  shubham     40
2    hello     45

In [6]:
import pandas as pd

# Assistant
This error occurs because Python cannot find the file "actors.csv" in your current working directory. The `pd.read_csv()` function is looking for this file, but it doesn't exist in the location where your code is running.

Would you like me to provide the corrected code?

In [10]:
import os
print("Current working directory:", os.getcwd())

Current working directory: /Users/shivamyadav/anaconda_projects/pandas

In [12]:
df = pd.read_csv("/Users/shivamyadav/Downloads/actors.csv")

In [13]:
df

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
1,Salman Khan,2500,6.9,2015-2025,Tiger 3
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy
6,Hrithik Roshan,1700,7.5,2015-2025,War
7,Ajay Devgn,1900,6.9,2015-2025,Tanhaji
8,Varun Dhawan,1200,6.5,2015-2025,Bhediya
9,Tiger Shroff,1100,6.3,2015-2025,Baaghi 2

In [14]:
df.head()

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
1,Salman Khan,2500,6.9,2015-2025,Tiger 3
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal

In [15]:
df.tail()

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy
6,Hrithik Roshan,1700,7.5,2015-2025,War
7,Ajay Devgn,1900,6.9,2015-2025,Tanhaji
8,Varun Dhawan,1200,6.5,2015-2025,Bhediya
9,Tiger Shroff,1100,6.3,2015-2025,Baaghi 2

In [18]:
df.loc[0]

Actor                        Shah Rukh Khan
Total Box Office (INR Cr)              2200
Average IMDb Rating                     7.8
Years Considered                  2015-2025
Notable Movie                         Jawan
Name: 0, dtype: object

In [21]:
df.loc[7]

Actor                        Ajay Devgn
Total Box Office (INR Cr)          1900
Average IMDb Rating                 6.9
Years Considered              2015-2025
Notable Movie                   Tanhaji
Name: 7, dtype: object

In [22]:
df.loc[0:4]

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
1,Salman Khan,2500,6.9,2015-2025,Tiger 3
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal

In [24]:
df.loc[0:4, ('Actor', 'Notable Movie')]

            Actor       Notable Movie
0  Shah Rukh Khan               Jawan
1     Salman Khan             Tiger 3
2      Aamir Khan  Laal Singh Chaddha
3    Akshay Kumar        Sooryavanshi
4   Ranbir Kapoor              Animal

In [28]:
df.at[1, "Actor"]

'Salman Khan'

In [30]:
df.iat[2, 4]

'Laal Singh Chaddha'