In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/shivamyadav/Downloads/actors.csv")

In [3]:
df

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
1,Salman Khan,2500,6.9,2015-2025,Tiger 3
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha
3,Akshay Kumar,2100,6.8,2015-2025,Sooryavanshi
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy
6,Hrithik Roshan,1700,7.5,2015-2025,War
7,Ajay Devgn,1900,6.9,2015-2025,Tanhaji
8,Varun Dhawan,1200,6.5,2015-2025,Bhediya
9,Tiger Shroff,1100,6.3,2015-2025,Baaghi 2

In [6]:
df = df[df["Average IMDb Rating"] > 7]

In [7]:
df

,Actor,Total Box Office (INR Cr),Average IMDb Rating,Years Considered,Notable Movie
0,Shah Rukh Khan,2200,7.8,2015-2025,Jawan
2,Aamir Khan,1800,8.1,2015-2025,Laal Singh Chaddha
4,Ranbir Kapoor,1500,7.3,2015-2025,Animal
5,Ranveer Singh,1600,7.4,2015-2025,Gully Boy
6,Hrithik Roshan,1700,7.5,2015-2025,War

In [10]:
df.to_csv("Data_Updated.csv", index = False)